
{% extends "layout.html" %}
{% block header %}
<header>
    <div class="jumbo _purple">
      <h3>The 'get thumbnail' code</h3>
      <p>Written in python. Feel free to use, rewrite and improve.</p>
    </div>
</header>
{% endblock %}
{% block content %}
<pre class="prettyprint lang-py" style="width: 80%;display: block; margin: auto;">
import urllib.request
import socket
import webbrowser

__author__ = "MisterXY89"
__version__ = "2015.11.9"


#############################################
#       get YouTube thumbnail images        #
#     tested with 10 YT-urls -> worked      #
#############################################

def openUrl(url):
    """ opens url, reads content and returns it """
    try:        
        openUrl = urllib.request.urlopen(url)
        data = openUrl.read()
        stringData = data.decode(encoding = "ISO-8859-1")        
        return stringData        
    except:
        print("URL could not be found.")
        return False


def searchThumbnailUrl(url):
    """ searching thumbnailUrl in given data and return link """
    dataList = []
    link = ""
    keyword = "thumbnailUrl"
    ending = "maxresdefault.jpg"
    ending2 ="hqdefault.jpg"
    data = openUrl(url)
    if not data:
        return False
    try:
        for x in range(0, data.count(ending)-2):        
            i = data.index(ending)
            data = data[i+len(ending):]
    except:
        for x in range(0, data.count(ending2)-2):        
            i = data.index(ending2)
            data = data[i+len(ending2):]
    indexT = data.index(keyword)    
    start = indexT + 20
    try:
        ende = data.index(ending)+len(ending)
    except:
        ende = data.index(ending2)+len(ending2)
    laenge = ende - start    
    for x in range(0, laenge):
        link += data[start+x]
    if len(link) > 10:
        # webbrowser.open(link)
        return link    
    return 'False'

</pre>
{% endblock %}