
{% extends "layout.html" %}
{% block header %}
{% endblock %}
{% block content %}
<div class="row">
	<div class="col m10">
		<h1>Enter you URL</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>

<form action="{{ url_for('get_thumbnail') }}" method="post">
	<fieldset>
	    <legend>Specify YouTube URL:</legend>
	  	<div class="row">
	    	<div class="col m12">
	      		<label for="Email">URL</label>
	      		<input class="_full-width" type="url" placeholder="https://www.youtube.com/watch?v=Ju86mknumYM" id="URL" name="yt_url">
	    	</div>
	    	<div class="col m6">
	      		<input class=" _primary button" type="submit" value="Submit">
	  			<input class="button" type="reset" value="Reset">
	  			<br>
	  		</div>
	  	</div>
	</fieldset>
</form>
{% endblock %}