<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="{{ url_for('static', filename='js/beauter.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/run_prettify.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/beauter.min.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    {% include "nav.html" %}
    {% block header %}
    {% endblock %}
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>