
<ul class="topnav" id="myTopnav2">
    <div class="container">
        <li>
            <a href="{{ url_for('home') }}" class="brand">
                YouTube informations
            </a>
        </li>

        <li style="">
            <a href="{{ url_for('home') }}">
                Home
            </a>
        </li>
        <li style="">
            <a href="{{ url_for('thumbnail') }}">
                Thumbnail
            </a>
        </li>
        <li style="float: right;">
            <a href="{{ url_for('code') }}">
                The code
            </a>
        </li>

        <!-- <li style="float:right;"><a href="#" >Right</a></li> -->
        <li class="-icon">
            <a href="javascript:void(0);" onclick="topnav('myTopnav2')">☰</a>
        </li>
    </div>
</ul>