
{% extends "layout.html" %}
{% block header %}
{% endblock %}
{% block content %}
<center>
	<h3>
		<small>To download to image:</small>
	</h3>
	<p>
		<ol>
			<li> Rightclick on the image. </li>
			<li> Select 'Save Image As...' </li>
		</ol>
	</p>
	<img src="{{ url }}" height="300px">
</center>
{% endblock %}

hallo wie man mahmal denken wir uns wirk köennen und scavhne erlauben die wir eigenflivh gar nicht können.
doch es ist nicht so wie es scheint...